@use "sass:math";

@import url("../fonts/stylesheet.css");
@import url("nullstyle.css");

@function rem($px){
    $result: math.div($px, 21) + rem;
    @return $result;
}
//Адаптавное свойство
$maxWidth: 1920;
$maxWidthContainer: 1440;
@mixin adaptivValue($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;
    @if $type==1 {
        //только если меньше контейнера
        #{$property}: $startSize + px;
        @media (max-width: #{$maxWidthContainer + px}) {
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
        }
    } @else if $type==2 {
    //Только если больше контейнера
        #{$property}: $startSize + px;
        @media (min-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
        }
    } @else if $type==3 {
        //Всегда
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
}

body, html {
    font-family: 'Akrobat';
    font-weight: 600;
    font-size: rem(24);
    
    color: #000;
}
.wrapper{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}
._container {
    padding: 0 15px;
}
.header {
    &__container {
        display: flex;
        justify-content: space-between;
        height: 100px;
    }

    &__logo {
        display: flex;
        align-items: center;
    }

    &__menu {
    }
    &-menu {
    
        &__list {
            height: 100%;
            display: flex;
            align-items: center;
        }
        &__link {
            @include adaptivValue('margin-right', 100, 0, 1);
            position: relative;
            padding: 5px 2px;
            cursor: pointer;
            &::before{
                content: "";
                position: absolute;
                height: 2px;
                background-color: #FF0000;
                width: 0;
                left: 50%;
                bottom: -3px;
                transform: translateX(-50%);
                transition: 0.3s all ease-in-out;
            }
            &:hover{
                &::before{
                    width: 110%; 
                }
                
            }
            &._active{
                color: #FF0000;
            }
            
        }
    }
}
.menu {
    font-weight: 400;
}


.main-page {
    flex: 1 1 auto;
    height: 100%;
    &__container {
        display: flex;
        height: 100%;
    }

    &__information {
        padding-top: 100px;
        flex: 0 0 60%;
    }

    &__title {
    }

    &__action {
        padding-top: 50px;
        display: flex;
        @include adaptivValue('column-gap', 60, -10, 1);
    }

    &__button {
        &:hover {
            .main-page__button-arrow{
                transform: translate(-3px,0);
            }
        }
        &-arrow{
            transition: 0.2s transform ease-in-out;
            margin-top: 6px;
        }
    }
    

    &__subtitle {
    }

    &__img {
        flex: 1 1 auto;
        background: url('../img/main-page__bg.png') 0 0 / contain no-repeat;
        
    }
    &__background{
        background-color: #FFEA2F;
        position: absolute;
        width: 80%;
        height: 100%;
        z-index: -5;
        top: 0;
        right: 0;
    }
    &__footer {
    }
}
.social{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.information {
}
.title {
    @include adaptivValue ('font-size', 72, 30, 1);
    text-transform: uppercase;
}
.button {
    &:hover{
    }
    font-size: rem(22);
    line-height: rem(27);
    font-weight: 800;
    color: #fff;
    width: 120px;
    height: 120px;
    background-color: #CE0002;
    padding: 34px 15px 15px 15px;
    transition: 0.2s background-color ease;
    &:hover{
        background-color: #FE0002;
    }
    &-text{
    }
}
.subtitle {
}
.footer {
    &__container {
        font-size: rem(16);
        font-weight: 500;
        background-color: #EFEFEF;
        color: #7E7E7E;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
    
    &__copyright {
    }

    &__menu {
    }

    &__social {
    }

    &__social-icon {
    }
    &-menu {
    
        &__list {
            display: flex;
        }
    
        &__link {
            margin: 0 30px;
            :hover{
                color: #575757;
            }
        }
    }
}

.company {
    flex: 1 1 auto;
    height: 100%;
    
    &__container {
        display: flex;
        height: 100%;
        
    }

    &__information {

        flex: 0 0 60%;
        padding-top: 100px;
        padding-right: 80px;
    }

    &__title {
        @include adaptivValue('padding-left', 80, 10, 1);
    }

    &__action {
        
        padding-top: 50px;
        display: flex;
        @include adaptivValue('column-gap', 60, -10, 1);
    }

    &__social {
    }

    &__subtitle {
        line-height: rem(30);
        &-link {
            color: #FE0002;
            text-decoration: underline !important;
            
        }
    }

    &__img {
        flex: 1 1 auto;
        background: url('../img/main-page__bg.png') 0 0 / contain no-repeat;
        
    }
    &__background{
        background-color: #FFEA2F;
        position: absolute;
        width: 50%;
        height: 100%;
        z-index: -5;
        top: 0;
        right: 0;
    }
    &__statistics {
    }

}


.statistics {
    
    &__elements {
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
        margin-top: 30px;
    }

    &__element {
    }
}
.statistics-element {

    &__img {
    }

    &__title {
        margin-top: 8px;
        font-weight: 900;
        font-size: rem(44);
        line-height: rem(55);
    }

    &__subtitle {
        font-weight: 300;
        font-size: rem(24);
        line-height: rem(30);
    }
}
