@import url("../fonts/stylesheet.css");
@import url("nullstyle.css");
body, html {
  font-family: "Akrobat";
  font-weight: 600;
  font-size: 1.1428571429rem;
  color: #000;
}

.wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

._container {
  padding: 0 15px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  height: 100px;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header-menu__list {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-menu__link {
  margin-right: 100px;
  position: relative;
  padding: 5px 2px;
  cursor: pointer;
}
@media (max-width: 1440px) {
  .header-menu__link {
    margin-right: calc(0px + 100 * ((100vw - 320px) / 1120));
  }
}
.header-menu__link::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #FF0000;
  width: 0;
  left: 50%;
  bottom: -3px;
  transform: translateX(-50%);
  transition: 0.3s all ease-in-out;
}
.header-menu__link:hover::before {
  width: 110%;
}
.header-menu__link._active {
  color: #FF0000;
}

.menu {
  font-weight: 400;
}

.main-page {
  flex: 1 1 auto;
  height: 100%;
}
.main-page__container {
  display: flex;
  height: 100%;
}
.main-page__information {
  padding-top: 100px;
  flex: 0 0 60%;
}
.main-page__action {
  padding-top: 50px;
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media (max-width: 1440px) {
  .main-page__action {
    -moz-column-gap: calc(-10px + 70 * ((100vw - 320px) / 1120));
         column-gap: calc(-10px + 70 * ((100vw - 320px) / 1120));
  }
}
.main-page__button:hover .main-page__button-arrow {
  transform: translate(-3px, 0);
}
.main-page__button-arrow {
  transition: 0.2s transform ease-in-out;
  margin-top: 6px;
}
.main-page__img {
  flex: 1 1 auto;
  background: url("../img/main-page__bg.png") 0 0/contain no-repeat;
}
.main-page__background {
  background-color: #FFEA2F;
  position: absolute;
  width: 80%;
  height: 100%;
  z-index: -5;
  top: 0;
  right: 0;
}
.social {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.title {
  font-size: 72px;
  text-transform: uppercase;
}
@media (max-width: 1440px) {
  .title {
    font-size: calc(30px + 42 * ((100vw - 320px) / 1120));
  }
}

.button {
  font-size: 1.0476190476rem;
  line-height: 1.2857142857rem;
  font-weight: 800;
  color: #fff;
  width: 120px;
  height: 120px;
  background-color: #CE0002;
  padding: 34px 15px 15px 15px;
  transition: 0.2s background-color ease;
}
.button:hover {
  background-color: #FE0002;
}
.footer__container {
  font-size: 0.7619047619rem;
  font-weight: 500;
  background-color: #EFEFEF;
  color: #7E7E7E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.footer-menu__list {
  display: flex;
}
.footer-menu__link {
  margin: 0 30px;
}
.footer-menu__link :hover {
  color: #575757;
}

.company {
  flex: 1 1 auto;
  height: 100%;
}
.company__container {
  display: flex;
  height: 100%;
}
.company__information {
  flex: 0 0 60%;
  padding-top: 100px;
  padding-right: 80px;
}
.company__title {
  padding-left: 80px;
}
@media (max-width: 1440px) {
  .company__title {
    padding-left: calc(10px + 70 * ((100vw - 320px) / 1120));
  }
}
.company__action {
  padding-top: 50px;
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media (max-width: 1440px) {
  .company__action {
    -moz-column-gap: calc(-10px + 70 * ((100vw - 320px) / 1120));
         column-gap: calc(-10px + 70 * ((100vw - 320px) / 1120));
  }
}
.company__subtitle {
  line-height: 1.4285714286rem;
}
.company__subtitle-link {
  color: #FE0002;
  text-decoration: underline !important;
}
.company__img {
  flex: 1 1 auto;
  background: url("../img/main-page__bg.png") 0 0/contain no-repeat;
}
.company__background {
  background-color: #FFEA2F;
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: -5;
  top: 0;
  right: 0;
}
.statistics__elements {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-top: 30px;
}
.statistics-element__title {
  margin-top: 8px;
  font-weight: 900;
  font-size: 2.0952380952rem;
  line-height: 2.619047619rem;
}
.statistics-element__subtitle {
  font-weight: 300;
  font-size: 1.1428571429rem;
  line-height: 1.4285714286rem;
}/*# sourceMappingURL=style.css.map */